%p Sign Up
= form_for @user, :as => :user, :url => sign_up_path, :method => :post do |f|
  %p
    = f.label 'username:'
    %br/
    = f.text_field :username
  %p
    = f.label 'password:'
    %br/
    = f.password_field :password
  %p
    = f.label 'password confirmation:'
    %br/
    = f.password_field :password_confirmation
  %p
    = f.submit 'Sign Up'
